#embedding_view {
  width: 400px;
  height: 467px;
  border-bottom: 1px solid var(--bright_gray_border);
}

#embedding-svg {
  cursor: grab;
  overflow: hidden;
}

#embedding-svg:active {
  cursor: grabbing;
  overflow: hidden;
}

.emb-dot {
  cursor: pointer;
  /* LATER */
  /* display: none; */
}

#embedding_header {
  transform: translate(0px, -468px);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
  width: calc(400px - 20px);
  height: 40px;
  border-bottom: 0.5px solid var(--bright_gray_border);
  position: absolute;
  font-size: 15px;
  color: var(--gray_text);
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.embedding-header-component {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.embedding-header-title {
  padding-right: 15px;
  font-weight: bold;
}

#epoch-slider {
  transform: translate(-3px, 3px);
  -webkit-appearance: none;
  outline: none;
  background: var(--brigt_grapy);
  width: 120px;
  height: 3px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: var(--gray);
  border-radius: 50%;
 }
 
 input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: var(--gray);
  border-radius: 50%;
 }