@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fredoka+One&display=swap');


body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
}

:root {
  --gray: rgb(55, 55, 55);
  --gray_text: rgb(55, 55, 55);
  --brigt_gray: #bbbbbb;
  --bright_gray_text: #CCCCCC;
  --bright_gray_border: #CCCCCC;
  --bright_gray_bg: rgb(249, 249, 249);
  --dark_navy: #0A002E;
  --bright_yellow_logo: #ddd9a5;
  --bright_yellow_text: rgb(255, 210, 0);
  --hotpink: #ff0080;
  --blueviolet: blueviolet;
  --dodgerblue: dodgerblue;
  --darkblue: var(--dark_navy);
}

#main {
  display: flex;
  justify-content: center;
}

#loading_data {
  position: absolute;
  transform: translate(750px, -640px);
  font-size: 40px;
  font-weight: bold;
}

.component-title {
  font-size: 18px;
  display: inline-flex;
  font-weight: bold;
  color: var(--gray_text);
}

.icon {
  display: inline-block;
  cursor: pointer;
}

.hide {
  margin-left: -300px;
  transition: 1s;
}

.show {
  margin-left: 0px;
  transition: 1s;
}


