#left_view {
  width: 400px;
  height: calc(100vh - 50px);
  border-right: 1px solid var(--bright_gray_border);
}

#embedding_view {
  width: 400px;
  height: 400px;
  border-bottom: 1px solid var(--bright_gray_border);
}

#embedding-svg {
  cursor: grab;
  overflow: hidden;
}

#embedding-svg:active {
  cursor: grabbing;
  overflow: hidden;
}

.emb-dot {
  cursor: pointer;
  /* LATER */
  /* display: none; */
}

#layer_slice_view-header {
  padding-top: 20px;
}

#layer_slice_view-icon {
  font-size: 20px;
  color: var(--gray_text);
  visibility: hidden;
  text-align: center;
  display: inline-block;
  width: 60px;
}

#layer_slice_view-title {
  transform: translate(-28px, 0px);
  width: calc(400px - 60px);
  justify-content: center;
}

